body {
    font-family: 'Muli';
}

/*Navbar*/
.navbar {
    padding: 0.500rem;
    background-color: black;

}

.navleftsection {
    word-spacing: 1.875rem;
}

.navleftsection>a {
    color: rgb(204, 204, 204);
    text-decoration: none;
}

.navrightsection {
    text-align: right;
    word-spacing: 1.875rem;
}

.navrightsection>a {
    word-spacing: normal;
    color: rgb(204, 204, 204);
    text-decoration: none;
}

/*Logo Section*/
.logo {
    width: 80%;
    height: 70%;
    margin-top: 2rem;
}

.lefttext {
    margin-top: 3rem;
    line-height: 0.0625rem;
}

.mail {
    text-decoration: underline;
}

.righttext {
    margin-top: 3rem;
    margin-left: 3rem;
    text-align: left;
}

.number {
    font-size: larger;
}

.icons {
    margin-top: 3rem;
    word-spacing: 3rem;
    text-align: right;
}

/*Second Nav*/
.btn-danger {
    height: 3rem;
    width: 15rem;
    font-size: small;
}

.fa-grip-lines {
    margin-left: 2rem;
}

.centersection {
    word-spacing: 1.875rem;
    font-size: small;
}

.centersection>a {
    word-spacing: normal;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/*Center Section*/
.background {
    background-color: rgb(204, 234, 237);
    margin-top: 1rem;
}

.item-a {
    grid-area: side-left;
    display: block;
    width: 100%;
}

.item-b {
    grid-area: side-right-up;
    display: block;
    width: 100%;
}

.item-c {
    grid-area: side-right-down;
    display: block;
    width: 100%;
}

.images {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "side-left side-right-up"
        "side-left side-right-down";
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 2rem;
    border-radius: 0.625rem;
}

/*Cards*/
.text {
    margin-top: 3rem;
    display: flex;
}

.text2 {
    text-align: right;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#content img {
    width: 24%;
    height: 100%;
    margin: 5px;
    border-radius: 2%;

}

.text1 {
    display: flex;
    margin-top: 1rem;
}

#content1 {
    display: flex;
    flex-direction: row;
}

#content1 img {
    width: 100%;
    height: 70%;
    margin: 5px;
    border-radius: 2%;

}

/*Bottom logo section*/
.png {
    width: 100%;
    height: 100%;
}

.black {
    padding: 3rem;
    background-color: rgb(37, 37, 37);
    margin-top: 3rem;
    display: flex;
    color: white;
}

/*Bottom input section*/
.postcard {
    height: 6.25rem;
    display: inline-block;
    color: white;
}

.posttext {
    margin-top: 1.5rem;
    margin-left: 1rem;
    line-height: 0.7rem;
}

.input {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.btn2 {
    width: 10rem;
    height: 3rem;
    margin-left: 1rem;
}

.media {
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.fa1 {
    margin-left: 2rem;
}

/*Details*/
.details {
    margin-top: 2rem;
}

.contactinfo {
    text-align: center;
}